# Private key for deployment to production networks
DEPLOYER_PRIVATE_KEY=

EXPLORER_KEY=

# admin wallet address (ownership will be transferred to this address after deployment)
ADMIN_WALLET=

# Operator address that can call executeDebtSwap() and other SafeDebtManager functions
SAFE_OPERATOR_ADDRESS=

# Pauser address that can pause/unpause SafeDebtManager, could be the same address as ADMIN_WALLET
PAUSER_ADDRESS=