node_modules
.env
.idea/*

# Yarn
.yarn/install-state.gz
.yarn/cache
.pnp.*

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-*
/.vscode
yarn-error.log
eth-sdk/abis/*
.claude